/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/node_modules
/public/robots.txt
/public/favicon.ico
/public/web.config
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
